<div class="card">
  <i (click)="closeWindow()" class="fas fa-window-close"></i>
  <div class="card-body">
    <h4>myContacts App ver 1.0</h4>
    <p>
      That's the first app I created using Angular. Was tough at the beginning but eventually I
      enjoyed the ride :-)
    </p>
    <p>Something to mention</p>
    <ul>
      <li>
        Contact data comes from
        <span class="text-light bg-dark">https://jsonplaceholder.typicode.com</span>
      </li>
      <li>
        Requests are also made to this fake REST API. Since each added new contact gets an ID of 11
        (as you cannot change their database in reality) deleting newly added users is
        malfunctioning - all of them are removed at once because deleting is based on ID
      </li>
      <li>Need to add the validation for the forms</li>
      <li>Working on version with router</li>
      <li>Suggestions welcome b.bombelka@gmail.com</li>
    </ul>
  </div>
</div>
